<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/sandstone/bootstrap.min.css" integrity="sha512-mBH4X30KZkLSnDdvuiwV5mTHP17YpQsGyeLfHd7lV6SrkqlE11sMmhs9gBoV3YG/Lr0dhnoDPTwOPZOawrVByQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <!-- 특정 영역을 생성하여 이 부분만 vue로 제어한다. -->
    <div id="app" class="container-fluid">
        <div class="col-md-5 offset-md-5 p-4 mt-4 bg-dark text-light rounded">
            <h1>Vue JS - Data 처리 복습</h1>
        </div>

        <div class="row mt-5">
            <div class="col-md-5 offset-md-5">
                곰돌이 젤리 [{{bearJellyPrice}}원]
                <input type="number" class="form-control" v-model="bearJelly">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 offset-md-5">
                바나나 젤리 [{{bananaJellyPrice}}원]
                <input type="number" class="form-control" v-model="bananaJelly">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 offset-md-5">
                고래 젤리 [{{whaleJellyPrice}}원]
                <input type="number" class="form-control" v-model="whaleJelly">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 offset-md-5">
                <hr>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 offset-md-5 text-end">
                <h3>총 합계 : {{total}}원</h3>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5 offset-md-5 d-grid">
                <button class="btn btn-primary" v-bind:disabled="!isPurchaseAvailable">구매하기</button>
            </div>
        </div>
    </div>

    <!-- vue js도 lazy loading을 사용한다. -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        // div[id=app]을 제어할 수 있는 Vue instance를 생성 
        const app = Vue.createApp({
            // data : 화면을 구현하는데 필요한 데이터를 작성해둔다. 
            data(){
                return{
                    bearJellyPrice:1000,
                    bananaJellyPrice:1200,
                    whaleJellyPrice:2000,

                    bearJelly:0,
                    bananaJelly:0,
                    whaleJelly:0,
                }
            },

            // computed : data를 기반으로 하여 실시간 계산이 필요한 경우 작성한다. 
            // - 3줄보다 많다면 사용하지 않는 것을 권장한다. (복잡한 계산시 성능 저하가 발생)
            // - 반드시 return을 통해 값을 반환해야 한다. 
            computed:{
                bearJellyTotal(){
                    return this.bearJelly * this.bearJellyPrice;
                },
                bananaJellyTotal(){
                    return this.bananaJelly * this.bananaJellyPrice;
                },
                whaleJellyTotal(){
                    return this.whaleJelly * this.whaleJellyPrice;
                },

                total(){
                    return this.bearJellyTotal + this.bananaJellyTotal + this.whaleJellyTotal;
                },

                isPurchaseAvailable(){
                    return this.total > 0; 
                },
            },

            // methods : 애플리케이션 내에서 언제든 호출 가능한 코드 집합이 필요한 경우 작성한다. 
            methods:{
               
            }
        });
        app.mount("#app");
        
    </script>
</body>
</html>
